.produtos_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 40px auto;
    padding: 20px;
    max-width: 75%;
}

@media screen and (max-width: 800px) {
    .produtos_boxes {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 660px) {
    .produtos_boxes {
        grid-template-columns: repeat(1, 1fr);
    }
  }